# === Java/Kotlin 컴파일 및 빌드 산출물 ===
/build/
/app/build/
/.gradle/
/.idea/
/*.iml
/local.properties

# === 로그, 캐시, 시스템 파일 ===
*.log
*.hprof
.DS_Store
Thumbs.db

# === OS 및 툴 관련 ===
/out/
/captures/
/.externalNativeBuild/
/.cxx/

# === Android Studio 관련 ===
.idea/
*.iml
*.ipr
*.iws

.kotlin

# === Gradle Wrapper 관련 ===
/.gradle/
/gradle-app.setting

# === 테스트, 커버리지 ===
/test-output/
/coverage/

# === 기타 ===
/.kotlinc/

# === custom ===
google-services.json